
<h1>New Session, Cool!</h1>

<%= form_tag(sessions_path, method: 'post') do %>
  <%= label_tag(:name, "Enter your name:") %>
  <%= text_field_tag(:name) %>
  <%= label_tag(:hometown, "Enter your hometown:") %>
  <%= text_field_tag(:hometown) %>
  <%= submit_tag("Go") %>
<% end %>

