
<h2><%= @lounge.name %></h2>

<p><%= link_to "Back to Lounges...", airport_lounges_path(@lounge.airport_id) %></p>

<p><%= @lounge.description %></p>
<p>Current Patrons: <%= @lounge.number_of_patrons %></p>

<% if @current_user.current_lounge.nil? %>
  <p><%= link_to "Check in!", lounge_patrons_path(@lounge.id), method: :post %></p>

<% elsif @lounge.id == @current_user.current_lounge.id %>
  <p>You're currently checked into this lounge! Meet some friends!</p>
  <p><%= link_to "Check out", lounge_patronage_path(@lounge.id,), method: :delete %></p>

<% else %>
  <p>You're currently checked into <%= @current_user.current_lounge.name %>. <%= link_to "Click here", lounge_patrons_path(@lounge.id), method: :post %> to leave and check into this lounge.</p>
<% end %>

<script type="text/javascript">
  function getPatrons() {
    $.ajax({
      type: "get",
      url: "<%= lounge_patrons_path(@lounge.id) %>",
      dataType: "html",
      success: function(data) {
        $("#patrons_list").html(data);
      },
      error: function(data) {
        $("#patrons_list").html("<p>Failure fetching patrons!</p>");
      }
    });
  }
</script>

<h3>Patrons</h3>
<a href="#" onclick="getPatrons()">Refresh List</a>
<div id="patrons_list"></div>

<script type="text/javascript">
  $(document).ready(function() {
    getPatrons();
  });
</script>


